@using Entities
@using Bussiness

@inject NavigationManager NavManager

<EditForm Model="oCategory">
    <div class="form-group">
        <label>Nombre:</label>
        <InputText class="form-control" @bind-Value="oCategory.CategoryName" />
    </div>

    <input type="button" class="btn btn-primary" value="Actualizar Categoría" @onclick="SaveCategory" />

</EditForm>

@code {
    [Parameter]
    public string IdCategory { get; set; }

    CategoryEntity oCategory = new CategoryEntity();

    private void SaveCategory()
    {

        B_Category.UpdateCategory(oCategory);
        NavManager.NavigateTo("categories/list");
    }

    protected override async Task OnInitializedAsync()
    {
        oCategory = B_Category.GetCategoryById(IdCategory);
    }

}