@using Entities
@using Bussiness

    <EditForm Model="oStorage">
        <div class="form-group">
            <label>Producto:</label>
            <InputSelect class="form-control" @bind-Value="oStorage.ProductId">
                <option value="">Seleccione un producto</option>
                @foreach (var product in products)
                {
                    <option value="@product.ProductId">@product.ProductName</option>
                }
            </InputSelect>
        </div>

        <div class="form-group">
            <label>Bodega:</label>
            <InputSelect class="form-control" @bind-Value="oStorage.WareHouseId">
                <option value="">Seleccione una bodega</option>
                @foreach (var warehouse in warehouses)
                {
                    <option value="@warehouse.WarehouseId">@warehouse.WarehouseName</option>
                }
            </InputSelect>
        </div>

        <input type="button" class="btn btn-primary" value="Almacenar Producto" @onclick="SaveStorage" />

    </EditForm>
    <div class="alert @bootstrapClass text-center h4 mt-3" >
        @message
    </div>

@code {

    StorageEntity oStorage = new StorageEntity();
    string message = "";
    string bootstrapClass = "";

    List<WareHouseEntity> warehouses = new List<WareHouseEntity>();
    List<ProductEntity> products = new List<ProductEntity>();

    protected override async Task OnInitializedAsync()
    {
        warehouses = B_Warehouse.WareHouseList();
        products = B_Product.ProductList();
    }

    private void SaveStorage()
    {
        oStorage.StorageId = $"{oStorage.WareHouseId}-{oStorage.ProductId}";
        if (B_Storage.IsProductInWarehouse(oStorage.StorageId))
        {
            message = "El producto ya existe en la bodega";
            bootstrapClass = "alert-danger";
        } else
        {
            //El producto no está asociado a la bodega, se asocian en la BD
            oStorage.LastUpdate = DateTime.Now;
            B_Storage.CreateStorage(oStorage);

            message = "Producto registrado en la bodega";
            bootstrapClass = "alert-success";
        }

    }

}
